extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='../css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/") Anasayfa
			if userid
				+nav_item("/login") Profil
			else
				+nav_item("/login") Login
			if isadmin
				+nav_item_dropdown("#")(label="Admin")
					+nav_item("/films/edit") Film Ekle
					+nav_item("/persons/edit") Kişi Ekle
					+nav_divider
					+nav_item("/types/edit") Tür Ekle
					+nav_item("/jobs/edit") Görev Ekle
					+nav_divider
					+nav_item("/logout") Çıkış Yap
			if (isadmin==0)
				+nav_item("/logout") Çıkış Yap
		.row
			h1=searchkey
		.row
			br 
			br
		.row
			+accordion("sample")
				+accordion-item-primary("film","sample","false")
					.panel-body
						.list-group
						each item in searchfilm
							a.list-group-item(href='/film/#{item.fid}') #{item.name}

				+accordion-item-primary("kişi","sample","false")
					.panel-body
						.list-group
						each item in searchperson
							a.list-group-item(href='/person/#{item.pid}') #{item.name}
		footer.footer
			p © Company 2014