extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='/css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/") Anasayfa
			if userid
				+nav_item("/login") Profil
			else
				+nav_item("/login") Login
			if isadmin
				+nav_item_dropdown("#","active")(label="Admin")
					+nav_item("/films/edit","active") Film Ekle
					+nav_item("#") Kişi Ekle
					+nav_divider
					+nav_item("/types/edit") Tür Ekle
					+nav_item("/jobs/edit") Görev Ekle
					+nav_divider
					+nav_item("/logout") Çıkış Yap
		if userid
			.row
				.col-md-8
					a(href="/films/edit")
						+icon-warning("menu-left")
					h1 #{filmname} cast ekibi
					each itemcast in casts
						.col-md-12
							+a-btn-danger("/films/cast/delete/"+filmid+"/"+itemcast.cid) sil
							each itemperson in persons
								if itemperson.pid==itemcast.pid
									+a-btn("#") #{itemperson.name}
									each itemjob in jobs
										if itemjob.jid==itemcast.jid
											+a-btn("#") #{itemjob.name}
				.col-md-4
					br
					br
					form.form-signin(action="/films/cast/add/"+filmid, method="post")
						label(for='sel2') kişi seçiniz
						select#sel2.form-control(name='person')
							each item in persons
								option(value="#{item.pid}") #{item.name}
						label(for='sel3') görevini seçiniz
						select#sel3.form-control(name='job')
							each item in jobs
								option(value="#{item.jid}") #{item.name}
						+submit("ekle")
		else
			.col-md-4
			.col-md-4
				form.form-signin(action="/login", method="post")
					+input-simple("text","email","email","email")
					+input-simple("password","password","password","password")
					+submit("login")
			.col-md-4
			.row
				p 
		
	
			