extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='../css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/","active") Anasayfa
			if userid
				+nav_item("/login") Profil
			else
				+nav_item("/login") Login
			if isadmin
				+nav_item_dropdown("#")(label="Admin")
					+nav_item("/films/edit") Film Ekle
					+nav_item("/persons/edit") Kişi Ekle
					+nav_divider
					+nav_item("/types/edit") Tür Ekle
					+nav_item("/jobs/edit") Görev Ekle
					+nav_divider
					+nav_item("/logout") Çıkış Yap
			if (isadmin==0)
				+nav_item("/logout") Çıkış Yap
		.jumbotron(style='text-align:center')
			.row
				each item in types
					a(href="/category/"+item.tid)
						button.btn.btn-info(type='button' class="hover" style="margin:3px; background-image: url(/uploads/"+item.photo+");background-size: cover;") #{item.name}
		.row.marketing
			h1(style='text-align:center') #{categoryname}
			br
			br
			each item,index in cat
				.col-lg-4
					.row(style="height:140px;")
						.col-sm-6
							if item.photo
								+img-thumbnail("/uploads/"+item.photo)
							else
								+img-thumbnail("/uploads/profilfilm")
						.col-sm-6
							.row
								a.h4(href="/film/"+item.fid) #{item.name}
		footer.footer
			p © Company 2014