extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='../css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/") Anasayfa
			if userid
				+nav_item("/login") Profil
			else
				+nav_item("/login") Login
			if isadmin
				+nav_item_dropdown("#","active")(label="Admin")
					+nav_item("/films/edit","active") Film Ekle
					+nav_item("/persons/edit") Kişi Ekle
					+nav_divider
					+nav_item("/types/edit") Tür Ekle
					+nav_item("/jobs/edit") Görev Ekle
					+nav_divider
					+nav_item("/logout") Çıkış Yap
		if userid
			.row
				.col-md-6
					br
					each item in films
						.col-md-12
							+a-btn-danger("/films/delete/"+item.fid) sil
							+a-btn-warning("/films/cast/"+item.fid) edit
							+a-btn("/films/images/"+item.fid) #{item.name}
				.col-md-6
					br
					form.form-signin(action="/films/add", method="post")
						+input("text","txtName","","Film adı","filmname")
						+input("text","txtName","","Film açıklaması","filmdescription") 
						label(for='sel2') film türü seçiniz (multiple)
						select#sel2.form-control(multiple='',name='types')
							each item in types
								option(value="#{item.tid}") #{item.name}
						+submit("ekle")
		else
			.col-md-4
			.col-md-4
				form.form-signin(action="/login", method="post")
					+input-simple("text","email","email","email")
					+input-simple("password","password","password","password")
					+submit("login")
			.col-md-4
			.row
				p 
		
	
			