extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='../css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/") Anasayfa
			if userid
				+nav_item("/login") Profil
			else
				+nav_item("/login") Login
			if isadmin
				+nav_item_dropdown("#")(label="Admin")
					+nav_item("/films/edit") Film Ekle
					+nav_item("/persons/edit") Kişi Ekle
					+nav_divider
					+nav_item("/types/edit") Tür Ekle
					+nav_item("/jobs/edit") Görev Ekle
					+nav_divider
					+nav_item("/logout") çıkış yap
			if (isadmin==0)
				+nav_item("/logout") Çıkış Yap
		.row
			.carousel.slide(id='carousel-Carousel ID_5', data-ride='carousel')
				ol.carousel-indicators
					each item,index in gallery
						li(data-target='#carousel-Carousel ID_5', data-slide-to='#{index}')
				.carousel-inner(role='listbox')
					each item,index in gallery
						if index==0
							.item.active
								img(src='/uploads/#{item}')
								.carousel-caption
						else
							.item
								img(src='/uploads/#{item}')
								.carousel-caption
		div(style='float:right;font-size:32px;color:white; margin-top:12px;')
				if liked
					a(href="/film/unlike/#{filmid}/#{userid}")
						+icon-danger("heart")
				else
					a(href="/film/like/#{filmid}/#{userid}")
						+icon-danger("heart-empty")
		- for (var i = 1; i <= 10; ++i) {
			div(style='float:right;font-size:32px;color:white; margin-top:12px;')
					if (i>(10-rate))
						a(href="/film/rate/#{11-i}/#{filmid}/#{userid}")
							+icon-warning("star")
					else
						a(href="/film/rate/#{11-i}/#{filmid}/#{userid}")
							+icon-warning("star-empty")
		- }
		div(style='position: absolute; margin-top: -140px;  margin-left: 10px; width:200px')
			if photo
				img.img-rounded(src="/uploads/"+photo, alt='Image with round corners',style="width:100%")
			else
				img.img-rounded(src="/uploads/profilfilm", alt='Image with round corners',style="width:100%")
		.row
			h1(style='width:100%;float:left;padding-left:240px;') #{filmname}
		.row(style="float:right")
			+btn("yönetmen")
			span  
			each item in casts
				if item.jid=='1'
					each item3 in persons
						if item3.pid==item.pid
							+a-btn-warning("#") #{item3.name}
							span  
		.row
			br 
		.row
			br 
		.row
			+panel-primary("Açıklama")
				p #{description}
			+panel-primary("Film ekibi")
				.col-md-12
					table.table.table-striped
						thead
							tr
								th İsim Soyisim
								th Kadro
						tbody
							each item in casts
								tr
								each item2 in persons
									if item2.pid==item.pid
										td 
											a(href="/person/"+item.pid) #{item2.name}
								each item3 in jobs
									if item3.jid==item.jid
										td #{item3.name}

			+accordion("sample")
				+accordion-item-primary("Yorumlar","sample","false")
					if comments
						each item in comments
							each item2 in commentsuser
								if item2.id==item.uid
									.alert.alert-success(role='alert')
										img.img-circle(src='/uploads/#{item2.photo}', style='width:32px;')
										|   #{item2.name} : #{item.comment}
					if userid
						h3(style="margin-top:20px;") Yorum Ekle
							.row
								.col-md-12
									form.form-signin(action="/film/comment/#{filmid}/#{userid}", method="post")
										+input("text","txtName","...","","comment")
										+submit("Gönder")
		footer.footer
			p 