extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='../css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/","active") Anasayfa
			if userid
				+nav_item("/login") Profil
			else
				+nav_item("/login") Login
			if isadmin
				+nav_item_dropdown("#")(label="Admin")
					+nav_item("/films/edit") Film Ekle
					+nav_item("/persons/edit") Kişi Ekle
					+nav_divider
					+nav_item("/types/edit") Tür Ekle
					+nav_item("/jobs/edit") Görev Ekle
					+nav_divider
					+nav_item("/logout") Çıkış Yap
			if (isadmin==0)
				+nav_item("/logout") Çıkış Yap
		.jumbotron(style='text-align:center')
			.row
				each item in cat
					a(href="/category/"+item.tid)
						button.btn.btn-info(type='button' class="hover" style="margin:3px; background-image: url(/uploads/"+item.photo+");background-size: cover;") #{item.name}
			.row
				.col-md-3
				.col-md-6
					form.form-signin(action="/ara", method="post")
						+input("text","txtName","film yönetmen oyuncu ara","","searchkey")
						+submit("search")
				.col-md-3
			.row
				p(style='text-align:center')
		.row.marketing
			h1(style='text-align:center') Top 5
			.col-lg-4
				h1 film
				each item,index in topfivefilm
					.row(style="height:140px;")
						.col-sm-6
							if item.photo
								+img-thumbnail("/uploads/"+item.photo)
							else
								+img-thumbnail("/uploads/profilfilm")
						.col-sm-6
							.row
								a.h4(href="/film/"+item.fid) #{item.name}
								br 
								span.label.label-success #{orts[index].ort}
			.col-lg-4
				h1 yönetmen
				each item,index in topfivedirector
					.row(style="height:140px;")
						.col-sm-6
							if item.photo
								+img-thumbnail("/uploads/"+item.photo)
							else
								+img-thumbnail("/uploads/profildirector")
						.col-sm-6
							.row
								a.h4(href="/person/"+item.pid) #{item.name}
								br 
								span.label.label-success #{ortsdirector[index].ort}
			.col-lg-4
				h1 oyuncu
				each item,index in topfiveperson
					.row(style="height:140px;")
						.col-sm-6
							if item.photo
								+img-thumbnail("/uploads/"+item.photo)
							else
								+img-thumbnail("/uploads/profilperson")
						.col-sm-6
							.row
								a.h4(href="/person/"+item.pid) #{item.name}
								br 
								span.label.label-success #{ortsperson[index].ort}
			
		footer.footer
			p © Company 2014