extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='../css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/") Anasayfa
			if userid
				+nav_item("/login","active") Profil
			else
				+nav_item("/login","active") Login
			if isadmin
				+nav_item_dropdown("#")(label="Admin")
					+nav_item("/films/edit") Film Ekle
					+nav_item("/persons/edit") Kişi Ekle
					+nav_divider
					+nav_item("/types/edit") Tür Ekle
					+nav_item("/jobs/edit") Görev Ekle
					+nav_item("/logout") Çıkış Yap
			if (isadmin==0)
				+nav_item("/logout") Çıkış Yap
		.jumbotron(style='text-align:center')
			if userid
				img.img-circle(src='/uploads/'+photo, alt='Circle image' style='width:120px;height:120px')
				p #{name}
				.row(style='text-align:left')
					+accordion("sample")
						+accordion-item-info("beğendiğim filmler","sample")
							if (filmnames!=0)
								each item in filmnames
									a.btn.btn-default(href='/film/'+item.fid+'', role='button' style='margin-right:5px;font-size:12px !important; padding:3px !important') #{item.name} 
						+accordion-item-info("beğendiğim oyuncular","sample")
							if (personnames!=0)
								each item in personnames
									a.btn.btn-default(href='/person/'+item.pid+'', role='button' style='margin-right:5px;font-size:12px !important; padding:3px !important') #{item.name} 
						+accordion-item-info("beğendiğim yönetmenler","sample")
							if (directornames!=0)
								each item in directornames
									a.btn.btn-default(href='/person/'+item.pid+'', role='button' style='margin-right:5px;font-size:12px !important; padding:3px !important') #{item.name} 
				.row
					h3(style="float:left") profil resmini değiştir
				form(method="post",enctype="multipart/form-data",action="/profile/images/"+userid+"")
					.row
						input(type="file",name="upl" style="font-size:12px;")
					.row
						input(type="submit" style="font-size:12px;float:left")
			else
				.col-md-4
				.col-md-4
					form.form-signin(action="/login", method="post")
						+input-simple("text","email","email","email")
						+input-simple("password","password","password","password")
						+submit("Login")
						br 
						br
						br
						a.btn.btn-default(href='/signup/', role='button' style='margin-right:5px;font-size:12px !important; padding:3px !important') Sıgn Up 

				.col-md-4
				.row
					p 
		
	
			