extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='../css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/") Anasayfa
			if userid
				+nav_item("/login") Profil
			else
				+nav_item("/login") Login
			if isadmin
				+nav_item_dropdown("#")(label="Admin")
					+nav_item("/films/edit") Film Ekle
					+nav_item("/persons/edit") Kişi Ekle
					+nav_divider
					+nav_item("/types/edit") Tür Ekle
					+nav_item("/jobs/edit") Görev Ekle
					+nav_divider
					+nav_item("/logout") çıkış yap
			if (isadmin==0)
				+nav_item("/logout") Çıkış Yap
		div(style='float:right;font-size:32px;color:white; margin-top:12px;')
				if liked
					a(href="/person/unlike/#{personid}/#{userid}")
						+icon-danger("heart")
				else
					a(href="/person/like/#{personid}/#{userid}")
						+icon-danger("heart-empty")
		- for (var i = 1; i <= 10; ++i) {
			div(style='float:right;font-size:32px;color:white; margin-top:12px;')
					if (i>(10-rate))
						a(href="/person/rate/#{11-i}/#{personid}/#{userid}")
							+icon-warning("star")
					else
						a(href="/person/rate/#{11-i}/#{personid}/#{userid}")
							+icon-warning("star-empty")
		- }
		div(style='position: absolute;  margin-left: 10px; width:144px')
			if photo
				img.img-rounded(src="/uploads/"+photo, alt='Image with round corners',style="width:100%")
			else
				img.img-rounded(src="/uploads/profilperson", alt='Image with round corners',style="width:100%")
		.row
		.row
			h1(style='float:right;') #{name}
		.row
			br 
		.row
			br 
		.row
			+panel-primary("Açıklama")
				p #{description}
			+panel-primary("Film listesi")
				.col-md-12
					table.table.table-striped
						thead
							tr
								th Film adı
								th Görevi
						tbody
							each item,index in filmdizisi
								tr
									td
										a(href="/film/"+item.fid) #{item.name}
									td #{jobdizisi[index].name}

			+accordion("sample")
				+accordion-item-primary("Yorumlar","sample","false")
					if comments
						each item in comments
							each item2 in commentsuser
								if item2.id==item.uid
									.alert.alert-success(role='alert')
										if item2.photo
											img.img-circle(src='/uploads/#{item2.photo}', style='width:32px;')
											|   #{item2.name} : #{item.comment}
										else
											img.img-circle(src='/uploads/profil', style='width:32px;')
											|   #{item2.name} : #{item.comment}
					if userid
						h3(style="margin-top:20px;") Yorum Ekle
							.row
								.col-md-12
									form.form-signin(action="/person/comment/#{personid}/#{userid}", method="post")
										+input("text","txtName","...","","comment")
										+submit("Gönder")
		footer.footer
			p 