extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='../css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/") Anasayfa
			if userid
				+nav_item("/login","active") Profil
			else
				+nav_item("/login","active") Login
			if isadmin
				+nav_item_dropdown("#")(label="Admin")
					+nav_item("/films/edit") Film Ekle
					+nav_item("/persons/edit") Kişi Ekle
					+nav_divider
					+nav_item("/types/edit") Tür Ekle
					+nav_item("/jobs/edit") Görev Ekle
					+nav_item("/logout") Çıkış Yap
			if (isadmin==0)
				+nav_item("/logout") Çıkış Yap
		.jumbotron(style='text-align:center')
			if userid
				+img-circle(photo,"Circle image")
				p #{name}
				.row(style='text-align:left')
					+accordion("sample")
						+accordion-item-info("beğendiğim filmler","sample")
							if (filmnames!=0)
								each item in filmnames
									a.btn.btn-default(href='/film/'+item.fid+'', role='button' style='margin-right:5px;font-size:12px !important; padding:3px !important') #{item.name} 
						+accordion-item-info("beğendiğim oyuncular","sample")
							|  This is second accordion content
						+accordion-item-info("beğendiğim yönetmenler","sample")
							|  This is third accordion content
			else
				.col-md-4
				.col-md-4
					form.form-signin(action="/signup", method="post")
						+input-simple("text","name","name","name")
						+input-simple("text","email","email","email")
						+input-simple("password","password","password","password")
						+submit("Sign Up")
						br 
						br
						br
						a.btn.btn-default(href='/login/', role='button' style='margin-right:5px;font-size:12px !important; padding:3px !important') Login 

				.col-md-4
				.row
					p 
		
	
			