extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='../css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/") Anasayfa
			if userid
				+nav_item("/login") Profil
			else
				+nav_item("/login") Login
			if isadmin
				+nav_item_dropdown("#","active")(label="Admin")
					+nav_item("/films/edit") Film Ekle
					+nav_item("/persons/edit") Kişi Ekle
					+nav_divider
					+nav_item("/types/edit","active") Tür Ekle
					+nav_item("/jobs/edit") Görev Ekle
					+nav_divider
					+nav_item("/logout") Çıkış Yap
		if userid
			.row
				.col-md-4
					br
					each item in types
						.col-md-12
							+a-btn-danger("/types/delete/"+item.tid) sil
							+a-btn("/types/images/"+item.tid) #{item.name}
				.col-md-8
					br
					form.form-signin(action="/types/add", method="post")
						+input("text","txtName","","Yeni tür ekle","type")
						+submit("ekle")
		else
			.col-md-4
			.col-md-4
				form.form-signin(action="/login", method="post")
					+input-simple("text","email","email","email")
					+input-simple("password","password","password","password")
					+submit("login")
			.col-md-4
			.row
				p 
		
	
			