extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='/css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/") Anasayfa
			if userid
				+nav_item("/login") Profil
			else
				+nav_item("/login") Login
			if isadmin
				+nav_item_dropdown("#")(label="Admin")
					+nav_item("/films/edit") Film Ekle
					+nav_item("/persons/edit") Kişi Ekle
					+nav_divider
					+nav_item("/types/edit") Tür Ekle
					+nav_item("/jobs/edit") Görev Ekle
					+nav_divider
					+nav_item("/logout") Çıkış Yap
		if userid
			.col-md-6
				h3 #{typename} Ana görsel
				.col-md-12
					img.img-rounded(src="/uploads/"+photo, alt='Image with round corners',style="width:100%")
				form(method="post",enctype="multipart/form-data",action="/types/images/"+typeid+"")
					p
						input(type="file",name="upl")
					p
						input(type="submit")
		else
			.col-md-4
			.col-md-4
				form.form-signin(action="/login", method="post")
					+input-simple("text","email","email","email")
					+input-simple("password","password","password","password")
					+submit("login")
			.col-md-4
			.row
				p 
		
	
			