extends ../_bootstrap
append styles	
	// Custom styles for this template
	link(href='../css/jumbotron-narrow.css', rel='stylesheet')
block body
	.container
		+navbar("imdb project","dropdown_menu")
			+nav_item("/","active") Anasayfa
			+nav_item("/admin") admin
		.row
			+carousel("Carousel ID_5",[
					{image:"http://rajasegar.github.io/JADE-Bootstrap/images/slide8.jpg"},
					{image:"http://rajasegar.github.io/JADE-Bootstrap/images/slide7.jpg"},
					{image:"http://rajasegar.github.io/JADE-Bootstrap/images/slide6.jpg"},
					{image:"http://rajasegar.github.io/JADE-Bootstrap/images/slide5.jpg"}
				])
		div(style='float:right;font-size:32px;color:white; margin-top:-40px;')
				+icon("heart-empty")
		.row(style='position: absolute; margin-top: -60px;  margin-left: 60px;')
			+img-rounded("http://rajasegar.github.io/JADE-Bootstrap/images/img_rounded.jpg","Image with round corners")
		.row
			h1(style='float:left;padding-left:240px;') filmin adı
		.row
			h5(style='float:left;padding-left:240px;margin-top:-15px') yönetmenin adı
		.row
			p 
		.row
			+panel-primary("Açıklama")
				p This is primary panel
			+panel-primary("Film ekibi")
				.col-md-12
					+table-striped(
					["adı","soyadı","görevi"],[
					["Mark","Otto","@mdo"],
					["Jacob","Thornton","@fat"],
					["Larry","the Bird","@twitter"]
					])
			+accordion("sample")
				+accordion-item-primary("Yorumlar","sample","false")
					+alert-success("<img src='http://rajasegar.github.io/JADE-Bootstrap/images/img_circle.jpg' style='width:32px;' class='img-circle'> This is a danger alert")
					+alert-success("This is a success alert")
					h3(style="margin-top:20px;") yorum ekle
						.row
							.col-md-12
								+input("text","txtName","...")
								+submit("gönder")
		footer.footer
			p © Company 2014